services:
  postgres:
    image: postgres:16-alpine
    container_name: b2b-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./data/postgres:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  localstack:
    image: localstack/localstack:latest
    container_name: b2b-localstack
    restart: unless-stopped
    environment:
      SERVICES: s3
      AWS_DEFAULT_REGION: us-east-1
      AWS_ACCESS_KEY_ID: ${LS_AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${LS_AWS_SECRET_ACCESS_KEY}
      S3_BUCKET_NAME: ${S3_BUCKET_NAME}
    ports:
      - "4566:4566"
    volumes:
      - localstack_data:/var/lib/localstack
      - ./data/s3:/etc/localstack/init/ready.d
    healthcheck:
      test: ["CMD-SHELL", "awslocal s3 ls"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  localstack_data:
